@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$primary: #f1356d;
$secondary: rgb(255, 98, 50);

/* base styles */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
p {
  font-size: larger;
}
a {
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: $secondary;
}
.navbar {
  h1 {
    color: $primary;
  }
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  // padding: 20px;
  h2 {
    font-size: xx-large;
  }
}
