@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$primary: #e61d0f;
$secondary: #f8e325;

/* base styles */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  // color: #333;
}
p {
  font-size: larger;
}
a {
  font-weight: 400;
  text-decoration: none;
  color: #111;
}
a:hover {
  color: $secondary;
}
h1,
h2 {
  color: $primary;
}
nav {
  .logo {
    text-transform: uppercase;
    cursor: pointer;
  }
}
.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  h2 {
    font-size: xx-large;
  }
}
