@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* base styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

p {
  font-size: larger;
}

a {
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #ff6232;
}

.navbar h1 {
  color: #f1356d;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
}

.content h2 {
  font-size: xx-large;
}

.navbar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.about h2 {
  display: inherit;
}

.about p {
  padding-top: 1rem;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 0;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview:hover {
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.contact ul {
  padding: 2px;
}

.contact ul a {
  font-size: larger;
}

.contact ul a svg {
  padding-right: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.showcase .showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.showcase .showcase.active {
  right: 300px;
}

.showcase .showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.showcase .text {
  position: relative;
  z-index: 10;
}

.showcase .text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.showcase .text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.showcase .text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.showcase .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.showcase .text a :hover {
  letter-spacing: 3px;
}

.showcase .social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .social li {
  list-style: none;
}

.showcase .social li a {
  display: inline-block;
  margin-right: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.showcase .social li a :hover {
  -webkit-transform: scale(0.5) translateY(-15px);
          transform: scale(0.5) translateY(-15px);
}

.showcase .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.showcase .toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .menu ul {
  position: relative;
}

.showcase .menu ul li {
  list-style: none;
}

.showcase .menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.showcase .menu ul li a :hover {
  color: #03a9f4;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=index.css.map */