@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* base styles */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: larger;
}

a {
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #ff6232;
}

nav h1 {
  color: #f1356d;
}

nav .logo {
  text-transform: uppercase;
  cursor: pointer;
}

.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

.content h2 {
  font-size: xx-large;
}

.navbar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.about h2 {
  display: inherit;
}

.about p {
  padding-top: 1rem;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 0;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview:hover {
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.contact ul {
  padding: 2px;
}

.contact ul a {
  font-size: larger;
}

.contact ul a svg {
  padding-right: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase {
  position: absolute;
  right: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.showcase * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.showcase .container {
  padding-left: 2rem;
}

.showcase .text {
  position: relative;
  z-index: 10;
}

.showcase .text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.showcase .text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.showcase .text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.showcase .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.showcase .text a:hover {
  color: #f1356d;
  letter-spacing: 3px;
}

@media (max-width: 991px) {
  .showcase .showcase,
  .showcase .showcase header {
    padding: 40px;
  }
  .showcase .text h2 {
    font-size: 3em;
  }
  .showcase .text h3 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=index.css.map */